#footer {
    background-color: black;
    color: white;
    font-size: 12px;
}

#footer p {
    margin: initial;
    padding: 5px 0;
}

select#lang {
    background: transparent;
    border-radius: 10px;
    padding: 1px;
}

#flag-btn:hover {
    cursor: pointer;
}

a.btn-demande_devis_1 {
    color: #212529;
    background-color: #f8f9fa;
}
a.btn-demande_devis_2 {
    background-color: #212529;
    color: #f8f9fa;
}